<h1>Check-In - New Patient</h1>
<div>
  <form action="">
    <label for="first_name">
      First Name: <input type="text" name="first_name" />
    </label>
    <label for="middle_name">
      Middle Name: <input type="text" name="middle_name" />
    </label>
    <label for="last_name">
      Last Name: <input type="text" name="last_name" />
    </label>
    <label for="address">
      Address: <input type="text" name="addres" />
    </label>
    <label for="city">
      City: <input type="text" name="city" />
    </label>
    <label for="state">
       State: <input type="text" name="state" />
    </label>
    <label for="zipcode">
      Zipcode: <input type="number" name="zipcode" />
    </label>
    <label for="phone_number">
      Phone Number: <input type="number" name="phone_number" />
    </label>
    <label for="ssn">
      Social-Security Number: <input type="number" name="ssn" />
    </label>
    <label for="symptoms">
      Symptoms:
      <textarea name="symptoms"></index>
    </label>
    <input type="submit" value="Submit">
  </form>
</div>
