<h1>Check-In - Returning Patient</h1>
<div>
  <form action="">
    <label for="first_name">
      First Name: <input type="text" name="first_name" />
    </label>
    <label for="middle_name">
      Middle Name: <input type="text" name="middle_name" />
    </label>
    <label for="last_name">
      Last Name: <input type="text" name="last_name" />
    </label>
    <label for="phone_number">
      Phone Number: <input type="number" name="phone_number" />
    </label>
    <label for="ssn">
      Social-Security Number: <input type="number" name="ssn" />
    </label>
    <label for="symptoms">
      Symptoms:
      <textarea name="symptoms"></textarea>
    </label>
    <input type="submit" value="Submit">
  </form>
</div>
