<h1>Check-In - Returning Patient</h1>
<div>
  <form action="" method="">
    First Name: <input type="text" name="first_name"><br>
    Middle Name: <input type="text" name="middle_name"><br>
    Last Name: <input type="text" name="last_name"><br>
    Phone Number: <input type="number" name="phone_number"></br>
    Please verify by entering Social Security Number: <input type="number" name="ssn"></br>
    Symptoms: <input type="text" name="symptoms"></br>
    <input type="submit" value="Submit">
  </form>
</div>  