<h1>Edit Patient Info</h1>
<div>
  <form action="" method="">
 	  First Name: <input type="text" name="first_name"><br>
    Middle Name: <input type="text" name="middle_name"><br>
    Last Name: <input type="text" name="last_name"><br>
    Address: <input type="text" name="addres"><br>
    City: <input type="text" name="city"> State: <input type="text" name="state"> Zipcode: <input type="number" name="zipcode"></br>
    Phone Number: <input type="number" name="phone_number"></br>
    Social Security Number: <input type="number" name="ssn"></br>
    Symptoms: <input type="text" name="symptoms"></br>
    <input type="submit" value="Submit"> 
  </form>
</div>
