<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf8" />
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to the AI Doctor Kiosk</h1>
    <h3>We're here to speed up your to the Emergency Room<h3>
    <div>
    	<button id="new-patient">New Patient</button>
    	<button id="returning-patient">Returning Patient</button>
	</div>  
  </body>
</html>