<!-- Nav Bar titled "AI Doctor Kiosk" -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- Home link and buttons -->
  <a class="navbar-brand mb-0 h1" href="/">AI Doctor Kiosk</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/" aria-disabled="true">Back </a>
      </li>
    </ul>
  </div>
</nav>

<!-- Jumbotron displaying returning or new patient options -->
<div class="jumbotron" style="min-height: 682px">
  <h1 class="display-3">Welcome to the AI Doctor Kiosk</h1>
  <hr class="my-4">
  <h3 class="text-muted" style="margin-top: 2em"><small>We're here to speed up your trip to the Emergency Room</small></h3>
  <p class="lead">
    <a href="/check-in-new" class="btn btn-primary" style="margin-top: 3em; margin-right: 1em" id="new-patient">New Patient</a>
	<a href="/check-in-returning" class="btn btn-primary" style="margin-top: 3em" id="returning-patient">Returning Patient</a>
  </p>
</div>


