<div class="jumbotron">
	<h1 class="display-4">Welcome to the AI Doctor Kiosk</h1>
	<hr class="my-4">
	<h3>We're here to speed up your trip to the Emergency Room<h3>
		<div>
			<a href="/check-in-new" class="btn btn-primary" id="new-patient" >New Patient</a>
			<a href="/check-in-returning" class="btn btn-primary" id="returning-patient">Returning Patient</a>
		</div>
</div>
